@model IEnumerable<MailServices.Models.SendMail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HtmlContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailUserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HtmlContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailUserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MailId })
        </td>
    </tr>
}

</table>
